[submodule "external/bbj-lab-protoecgnet"]
	path = external/bbj-lab-protoecgnet
	url = git@github.com:StevenSong/protoecgnet.git
[submodule "external/PierreElias-IntroECG"]
	path = external/PierreElias-IntroECG
	url = git@github.com:StevenSong/IntroECG.git
