[submodule "external/PierreElias-IntroECG"]
	path = external/PierreElias-IntroECG
	url = git@github.com:StevenSong/IntroECG.git
[submodule "user-study/images"]
	path = user-study/images
	url = git@github.com:StevenSong/protossl-user-study-images.git
[submodule "external/vuno-ST-MEM"]
	path = external/vuno-ST-MEM
	url = git@github.com:vuno/ST-MEM.git
