cachetools
datasets[audio]==4.0.0
detect-secrets
einops
fastdigest
h5py
ipywidgets
jsonargparse[signatures]
jupyterlab
lightning
matplotlib
numpy>=2.0.0
optuna
optuna-integration
pandas
pqdm
pre-commit
scikit-learn
seaborn
tensorboard
timm
torchlibrosa
wandb
wfdb==4.2.0
# not the best form to use extra index url, but acceptable risk for research repo
# see: https://medium.com/@alex.birsan/dependency-confusion-4a5d60fec610
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0
torchaudio==2.7.0
torchcodec==0.4.0
torchvision==0.22.0
nvidia-npp-cu12
